@media only screen and (max-width: 500px) {
  .container {
    display: flex;    overflow-x: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1139px) {
  .container{grid-column: span 3;
  }
}

@media screen and (min-width: 1140px) {
  .container{
     grid-column: span 4;
}
}

@media screen and (min-width: 600px) and (max-width: 1139px)  {
  .container{ grid-auto-columns: minmax(44px, 1fr);

  grid-gap: 48px;
  }
}

@media screen and (min-width: 1140px) {
  .container{ grid-auto-columns: minmax(42px, 1fr);
  grid-gap: 48px;
}
}



