body {
  background:#020025
}
.bg-1 {
  background: linear-gradient(rgba(2, 0, 37, 0.3), rgba(2, 0, 37, 0.3)),
    url("/src/assets/artists/cari-cari.jpg") no-repeat;
  /* background-size: cover; */
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 640px) {
  .bg-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/src/assets/artists/cari-cari.jpg") no-repeat;
    width: 100%;
    height: auto;
  }
}
